/* =========================
   NAVBAR
========================= */

.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  /* slim navbar */
  height: 56px;

  background: linear-gradient(90deg, #090200, #090200);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;

  z-index: 1000;

  box-sizing: border-box;
}

/* LOGO */

.nav-logo {
  display: flex;
  height: 105px;
}

.nav-logo img {
  height: 105px;
  width: auto;
  object-fit: contain;
}

/* NAV LINKS */

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgb(251, 250, 248);

  font-size: 15px;
  font-weight: 600;

  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #f8f7f7;
}

/* =========================
   HERO SECTION
========================= */

.hero {
  width: 100%;
  min-height: 100vh;

  background: url("../../assets/images/herobg.jpg") center/cover no-repeat;

  display: flex;
  align-items: center;

  position: relative;
}

.hero::before {
  content: "";

  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.55);
}

/* HERO CONTENT */

.hero-content {
  position: relative;
  z-index: 2;

  max-width: 620px;

  padding-left: 120px;
  padding-top: 50px;

  color: white;
}

/* SMALL TOP TEXT */

.hero-content span {
  color: #f6b10a;

  font-size: 17px;
  font-weight: 700;

  letter-spacing: 2px;

  text-transform: uppercase;
}

/* MAIN HEADING */

.hero-content h1 {
  font-size: 40px;
  line-height: 1.05;
  max-width: 760px;
  text-shadow: 0 6px 24px rgba(0, 0, 0, 0.5);
  letter-spacing: -2px;
  font-weight: 800;
  color: #c88408;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* PARAGRAPH */

.hero-content p {
  font-size: 18px;
  line-height: 1.5;
  text-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
  max-width: 540px;

  margin-bottom: 30px;

  color: #f1f1f1;
}

/* BUTTON */

.hero-btn {
  padding: 15px 34px;

  background: #f6b10a;

  border: none;
  border-radius: 40px;

  color: white;

  font-size: 16px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.hero-btn a {
  color: white;
  text-decoration: none;
}

.hero-btn:hover {
  background: #d89300;

  transform: translateY(-2px);
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1024px) {
  .hero {
    justify-content: flex-start;
  }

  .hero-content {
    padding-left: 70px;
    max-width: 620px;
  }

  .hero-content h1 {
    font-size: 58px;
    line-height: 1.05;
  }

  .hero-content p {
    font-size: 18px;
    line-height: 1.7;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;
    height: 54px;
  }

  .nav-logo img {
    height: 100px;
  }

  .hero {
    height: 100vh;

    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .hero-content {
    width: 100%;
    max-width: 100%;

    padding: 0;
    margin: 0;

    text-align: left;
  }

  .hero-content span {
    display: block;

    font-size: 13px;
    letter-spacing: 4px;

    margin-bottom: 16px;
  }

  .hero-content h1 {
    font-size: 56px;
    line-height: 0.95;

    margin-bottom: 18px;
  }

  .hero-content p {
    max-width: 100%;

    font-size: 18px;
    line-height: 1.7;

    margin-bottom: 26px;
  }

  .hero-btn {
    padding: 14px 30px;

    font-size: 16px;

    color: white;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .hero-btn a {
    color: white;
    text-decoration: none;
  }

  .nav-links {
    position: fixed;

    top: 54px;
    right: -100%;

    width: px;
    height: calc(50vh - 54px);

    background: rgba(244, 205, 205, 0.96);

    backdrop-filter: blur(12px);

    display: flex;
    flex-direction: column;

    gap: 28px;

    padding: 40px 30px;

    transition: 0.4s ease;

    z-index: 1500;
  }

  .nav-links a {
    font-size: 16px;
  }

  .nav-links.active {
    right: 0;
  }
}
.mobile-menu-btn {
  display: none;
}
@media (max-width: 768px) {
  .mobile-menu-btn {
    display: block;

    font-size: 34px;
    color: white;

    cursor: pointer;
    z-index: 2000;
  }
}
