* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #140404;
  color: #f8f5f0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
