.details-page {
  min-height: 100vh;
  padding: 120px 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  background: #f8f8f8;
}

.details-image img {
  width: 100%;
  border-radius: 30px;
  object-fit: cover;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.15);
}

.details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #111;
}

.details-content h2 {
  color: #d62828;
  margin-bottom: 25px;
  font-size: 38px;
}

.details-content p {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.product-desc {
  margin-top: 20px;
  line-height: 1.8;
  color: #555;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .details-page {
    grid-template-columns: 1fr;
    padding: 100px 5%;
  }

  .details-content h1 {
    font-size: 36px;
  }

  .details-content h2 {
    font-size: 30px;
  }
}