.hero {
  position: relative;
min-height: 100vh;
width: 100%;
  background: url("../../assets/images/herobg.jpg") center/cover no-repeat;

  overflow: hidden;
  display: flex;
  align-items: center;
  background: black;
}

/* BACKGROUND */
.hero .hero-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}



/* MAIN LAYOUT */
.hero-container {
  position: relative;
  z-index: 2;
  width: 100%;
 
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 40px;

  display: flex;
  justify-content: flex-start; /* IMPORTANT */
  gap: 40px;
  /* pushes everything left */
}

/* LEFT */
.hero .hero-left {
  max-width: 1400px;
  text-align: left;
  padding: 1px 3px 50px;
  z-index: 2;
  color: #f1b613;
  margin-top: 30px;
  
}

/* SMALL TEXT */
.hero .hero-subtitle {
  font-size: 16px;
  letter-spacing: 4px;
  color: #B30000;
  font-weight: 700;
}
/* BIG TITLE */
.hero .hero-title {
  font-size: 69px;
  font-weight: 800;
  line-height: 1.05;
  margin-left: 0px;
  color: #ffffff;
}
.hero .hero-title span {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  color: #B30000;
}

.hero-line {
  width: 180px;
  height: 4px;

  background: #B30000;

  border-radius: 20px;

  margin: 20px 0;
}

/* DESCRIPTION */
.hero .hero-desc {
  font-size: 20px;
   color: #ffffff;
  opacity: 0.9;
  margin-top: 5px;
  margin-bottom: 25px;
  max-width: 420px;
}

/* BUTTON */
.hero .hero-btn {
  padding: 16px 30px;

  background: #B30000;

  border: none;

  border-radius: 8px;

  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
   align-self: flex-start;
  transition: all 0.3s ease;
}

.hero .hero-btn:hover {
  background: #8f0000;

  transform: translateY(-3px);
}
/* RIGHT SIDE IMAGE */
.hero .hero-right {
  position: relative;
  width: 60%;
  height: 500px;
}
.hero-right img {
  position: absolute;
  width: 170px;
  transition: 0.3s;
}
.hero-product-img {
  width: 520px;
  transform: perspective(1000px) rotateY(-18deg);
  filter: drop-shadow(0 30px 40px rgba(0, 0, 0, 0.6));
}
.hero-btn.mobile-btn {
  display: none;
}

.hero-btn.desktop-btn {
  display: inline-flex;
}


.hero-features-bar {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 2px 3px;

  background: rgba(0, 0, 0, 0.85);
}

/* each item */
.hero .feature-item {
  display: flex;
  align-items: center;
  gap: 10px;

   color: #B30000;
}

/* icon */
.hero .feature-icon {
  font-size: 22px;
  color: gold;
}

/* text styles */
.hero .feature-title {
   font-size: 12px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 2px;
}

.hero .feature-sub {
  font-size: 10px;
  color: #f5f0f0;
  opacity: 0.8;
  margin-top: 4px;
}

/* divider lines */
.hero .divider {
  width: 2px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
}
.hero-mobile-content{
    display:none;
}

.hero-desktop-content{
    display:block;
}

/* =====================================
   MOBILE RESPONSIVE
===================================== */
@media (max-width:768px){
  
.hero-desktop-content{
    display:none;
}


.hero{
    position:relative;
    min-height:100vh;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
}
.hero-container{
    display:flex;
    flex-direction:column;

    align-items:flex-start;
}
.hero-left{
    position:absolute;
    top:1px;
    left:2px;

    width:155%;
    max-width:430px;

    padding:10px 0 20px;
    margin:0;

    z-index:5;
}
.hero .hero-subtitle{
    font-size:12px;
    letter-spacing:3px;
    line-height:1.4;

    max-width:220px;

    margin-bottom:8px;
}
.hero .hero-title{
    font-size:30px;
    line-height:0.95;

    width:330px;
    max-width:330px;

    white-space:normal;
}

.hero .hero-title span{
    font-size:35px;
}

.hero-line {
  width: 150px;
  height: 4px;

  background: #c91309;

  border-radius: 20px;

  margin: 1px 0;
}
.hero-right{
    width: 100%;
    display: flex;
    justify-content: center;
}
.hero-mobile-content{
    display:flex;
    flex-direction:column;
    align-items:flex-start;

    position:absolute;

    left:20px;
    right:20px;

    bottom:160px;   

    width:auto;

    z-index:10;
}
.hero-mobile-content .hero-desc{
    font-size:18px;
    line-height:1.5;
    max-width:360px;
    color:#fff;

    margin-bottom:-25px;   /* move paragraph closer to button */
}
.hero-mobile-content .hero-btn{
    width:200px;
    padding:10px 1px;
    font-size:14px;
    border-radius:8px;
    margin-bottom:10px;
}


/* ===========================
   FEATURES
=========================== */

.hero-features-bar{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:rgba(0,0,0,.92);
    padding:10px 5px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.feature-item{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;

    gap:12px;
       padding: 0 6px;
    text-align:left;
}
.hero .feature-icon{
    font-size:16px;
    color:#FFD700;
    flex-shrink:0;
}

.feature-text{
    display:flex;
    flex-direction:column;
    line-height:1.15;
}

.hero .feature-title{
    font-size:9px;
    color:#fff;
    font-weight:700;
    margin:0 !important;
}
.hero .feature-sub{
    font-size:8px;
    color:#f3eaea;

    margin:2px 0 0;
    line-height:1.1;
}
}
