.why {
  padding: 100px 8%;

  background: #111;

  color: white;

  text-align: center;
}

.why h2 {
  font-size: 50px;

  margin-bottom: 60px;
}

.why-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 25px;
}

.why-card {
  background: #f29b05e5;

  padding: 40px 30px;

  border-radius: 20px;

  transition: 0.3s;
}

.why-card:hover {
  transform: translateY(-8px);
}

.why-card h3 {
  color: #110e06;

  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .why-cards {
    display: flex;
    overflow-x: auto;

    gap: 20px;

    scroll-snap-type: x mandatory;

    padding-bottom: 20px;
  }

  .why-card {
    min-width: 240px;
    flex-shrink: 0;

    scroll-snap-align: center;
  }

  .why-cards::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 768px) {
  .why-grid {
    display: flex;

    overflow-x: auto;
    overflow-y: hidden;

    gap: 20px;

    padding: 20px;

    scroll-snap-type: x mandatory;

    -webkit-overflow-scrolling: touch;
  }

  .why-grid::-webkit-scrollbar {
    display: none;
  }

  .why-card {
    min-width: 280px;

    flex-shrink: 0 0;

    scroll-snap-align: center;
  }
}
